git_modules_mg.iml
.idea
.idea/
.idea/.gitignore
.idea/MarsCodeWorkspaceAppSettings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
lib/test.txt
*/__pycache__/*
*/__pycache__
ComfyUI/
ComfyUi/
ComfyUI
ComfyUi
td/
/td
.sub_data/
.docs/
test.md
test.py